<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <%include partials/head.ejs %>
        <script>
            $(function() {
                $(window).on("load", function() {
                    $("#scroll3").mCustomScrollbar({
                        scrollButtons: {
                            enable: true
                        },
                        theme: "dark-thin",
                        scrollbarPosition: "outside",
                        autoHideScrollbar: false,
                        alwaysShowScrollbar: 2
                    });
                });
            });
        </script>
</head>

<body>

    <header>

        <% include partials/navigation.ejs %>

    </header>



    <img class="imgPortada" src="/images/portada.jpg" alt="">
    <div class="texto-encima">
        <div class='listado'>
            <div class="palabras">
                <span id="recyreap">REC y REAP</span>
                <span id="grabarcosechar">GRABAR y COSECHAR</span>
            </div>
        </div>
        <span class="titulo">REPOSITORIO DE CLASES PARA LA REFLEXIÓN Y ANÁLISIS PEDAGÓGICO</span>
        <div class="botonesPortada">
            <a class="btn btn-danger btn-sm" href="/pagAcerca" role="button" style="margin-right: 20px;">Proyecto</a>
            <a class="btn btn-light btn-sm" href="/pagContacto" role="button">Contacto</a>
        </div>
    </div>


    <!-- SECCIÓN PROYECTO -->
    <div id="proyecto">
        <div class="text-center py-4">
            <div class="container">
                <h3 class="text-black" style="font-weight: bold;">PROYECTO</h3>
            </div>
        </div>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card bg-light mb-3 card-body mCustomScrollbar comienzoDescripcion" style="margin-bottom: 30px;margin-top: 10px;">
                        <div class="card-header" style="font-size: 1.0em;">COMIENZO</div>

                        Uruguay enfrenta la necesidad de aumentar la cantidad de egresos de docentes para educación media, para cubrir la demanda del sistema educativo. Esto implica mejorar la continuidad en las trayectorias formativas de los estudiantes de formación docente.
                        Estas están afectadas, entre otros factores, por el vulnerabililzado perfil socioeconómico de ingreso. Actualmente la formación didáctica de la práctica preprofesional incluye actividades presenciales individuales, de difícil accesibilidad
                        para estudiantes que trabajan o viven lejos de los centros educativos. Esta investigación propone generar conocimiento en torno al desarrollo de protocolos de análisis didáctico de clases, basados en el uso de tecnologías digitales,
                        que permitan y/o complementen la realización de la práctica preprofesional de una forma más accesible e inclusiva. La metodología está basada en un diseño cualitativo, que incluye una instancia inicial cuasi experimental. Grupos
                        de estudiantes de formación docente, orientados por formadores, realizarán análisis didáctico presencial y/o virtual de unidades fílmicas de clases en educación media, aplicando protocolos diseñados por el equipo de investigación
                        para tal fin. Se colectarán datos sobre los niveles de reflexión y análisis alcanzados aplicando estos protocolos, por medio de: observación no participante, análisis de contenido de foros en plataforma y otros medios de intercambio,
                        encuestas y entrevistas en profundidad a estudiantes y formadores. Se espera desarrollar y valorar dichos protocolos didácticos innovadores, que proporcionen nuevas oportunidades de aprendizaje didáctico. El formato propuesto contribuye
                        a consolidar en la formación inicial el trabajo colaborativo y el uso pedagógico de tecnologías. Además requeriría menores tiempos y costos de traslado para la realización de la práctica preprofesional. Se incorpora la participación
                        de estudiante de Tecnólogo en Informática (Universidad Tecnológica), que realizará su trabajo final de carrera en el marco de esta investigación. Se prevé el asesoramiento de una consultora extranjera y actividades de difusión
                        pública científica locales, nacionales e internacionales.
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mb-3 card-body mCustomScrollbar comienzoDescripcion" style="margin-bottom: 30px;margin-top: 10px;">
                        <div class="card-header" style="font-size: 1.0em;">DESCRIPCIÓN</div>

                        El proyecto de investigación se encuentra en ejecución y fue seleccionado por ANII para su financiación, en el marco del llamado Fondo Sectorial “Inclusión Digital: Educación con Nuevos Horizontes” – 2018 (FSED_2_2018_1_150150). La duración del mismo
                        es desde el 1° de Mayo de 2019 al 30 de Abril del 2020. Esta investigación propone generar conocimiento en torno al análisis didáctico de clases, basado en el uso de tecnologías digitales multimedia 360°, que enriquezca los aprendizajes
                        logrados en la práctica pre profesional de la formación de docentes. El objetivo general es facilitar el acceso y mejorar la calidad de los aprendizajes en la práctica pre profesional de la formación de docentes de educación media,
                        a través de la aplicación de tecnologías digitales. Específicamente se persigue valorar la incorporación de tecnologías digitales para el desarrollo de capacidades de análisis didáctico reflexivo de los estudiantes de profesorado
                        e identificar y analizar qué otros aspectos formativos se desarrollan y promueven. Se desea conocer cómo pueden éstos aportar a la construcción del nuevo perfil de egreso y a la protección de las trayectorias académicas de los
                        estudiantes. Además se creará un repositorio de materiales fílmicos de educación media y de actividades formativas pasibles de ser llevadas adelante utilizando dichos materiales, en la formación de los estudiantes de profesorado.
                        Este repositorio será abierto e incrementable. Lo que sustenta esta investigación es la necesidad de optimizar la calidad de los aprendizajes que se construyen en el ámbito de la práctica preprofesional de la formación docente;
                        diversificar las modalidades de aprendizaje, para un perfil de ingreso de estudiantes que presentan dificultades familiares, laborales y/o económicas, que obstaculizan la continuidad de sus trayectorias de estudio e incorporar
                        nuevos usos de las tecnologías digitales asociadas directamente a la formación docente, frente a un perfil de egreso que debe dar respuesta a las demandas de la sociedad del conocimiento y las modalidades que convocan al trabajo
                        colaborativo. Grupos de estudiantes de formación docente, orientados por formadores, realizarán análisis didáctico presencial y/o virtual de unidades fílmicas de clases en educación media, aplicando protocolos diseñados por el
                        equipo de investigación para tal fin. Se colectarán datos sobre los niveles de reflexión y análisis alcanzados aplicando estos protocolos, por medio de: observación no participante, análisis de contenido de foros en plataforma
                        y otros medios de intercambio, encuestas y entrevistas en profundidad a estudiantes y formadores. Se espera desarrollar y valorar dichos protocolos didácticos innovadores, que proporcionen nuevas oportunidades de aprendizaje didáctico.
                        El paradigma sobre el que se funda esta investigación es cualitativo, y su finalidad es crítica: busca identificar un potencial de cambio (Paz Sandín, 2003). El enfoque del estudio no es puramente fenomenológico, ya que se sitúa
                        a los sujetos de estudio (estudiantes y formadores) en una situación no natural, para recoger el primer grupo de datos (análisis didáctico de las grabaciones de fragmentos de clases). Como no hay un control total de variables,
                        se trata de una instancia cuasi experimental. Sin embargo, posteriormente el resto del desarrollo de colecta de datos es no experimental. Se incorpora la participación de estudiante de Tecnólogo en Informática (Universidad Tecnológica),
                        que realizará su trabajo final de carrera en el marco de esta investigación. Se cuenta con el asesoramiento de una consultora extranjera, la Mag. Rebeca Anijovich. Marco teórico Los niveles de reflexión en los portafolios de la
                        Práctica Pre Profesional Docente. P. Lamas Pelayo, Jessica Vargas D’Uniam – Pontificia Universidad Católica del Perú (Perú) El rol del video en el desarrollo profesional del docente de matematica en la escuela secundaria. Abraham
                        Arcavi. Actas del 6° Congreso Uruguayo de Educación Matemática (CUREM6) Despertar la reflexión en la formación docente: dispositivos efectivos. Rebeca Anijovich, Graciela Cappelletti Desarrollar la competencia reflexiva en la educación
                        superior. Diez propuestas para el aula universitaria. Ángeles Domingo Roget Perrenoud, P (2007) Desarrollo de la práctica reflexiva en el oficio de enseñar. México: Graó/Colofón ¿Por qué el nombre REC y REAP? El nombre fantasía
                        del proyecto Rec&Reap, es un acrónimo de REPOSITORIO DE CLASES PARA LA REFLEXIÓN Y EL ANÁLISIS PEDAGÓGICO. En inglés significa Grabar&Cosechar, y hace referencia a los objetivos del proyecto, vinculados con el uso de unidades fílmicas
                        en 360°, en el marco de actividades de análisis didáctico de la práctica preprofesional de docentes de educación media, cosechando aprendizajes formativos para el futuro desempeño profesional. Una misma unidad fílmica, se puede
                        utilizar incontables veces, de manera que tal como sucede con la semilla en la tierra, da frutos por mucho tiempo y da nuevas semillas. Si bien en esta investigación nos enfocamos en el análisis didáctico a nivel de educación media
                        (profesorado), hay dos prospectivas que es necesario manifestar aquí. El análisis que propician las unidades fílmicas puede desbordar lo didáctico, de ahí que para el nombre fantasía nos hayamos decidido por el térmimo «análisis
                        pedagógico». Las unidades fílmicas no solo son pasibles de ser analizadas didácticamente (qué hace el docente, estrategias y recursos) sino que tambien permiten analizar muchas otras dimensiones, tales como: analizar qué hacen
                        los estudiantes, cómo es la infraestructura del aula, desde los asientos hasta la iluminación y el piso, las ventanas, el confort. Además permiten focalizarse en cuestiones tales como roles de género, emociones, vínculos afectivos
                        que se ponen en juego, equidad, inclusión. Permiten ver las expresiones de los estudiantes, sus reacciones, sus movimientos, a la vez que escuchamos o vemos al docente. También consideramos que se pueden aplicar no solo para la
                        formación inicial de profesorado, sino que el repositorio, al ser abierto e incrementable, podría ser usado para formación en servicio, o para formación inicial de otras carreras docentes (maestro de educación común, maestro de
                        primera infancia, educador social) y universitarias. Créditos Las imágenes del sitio son de autoría propia. El logo fue diseñado por Bernardina Rodríguez Bruccoleri La música de nuestro spot fue compuesta por Marcos Umpiérrez Vallarino
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <hr class="mt-2 mb-5">

    <!-- SECCIÓN GALERÍA -->
    <div id="galeria">
        <div class="container">
            <div class="text-center py-4">
                <div class="container">
                    <h3 class="text-black" style="font-weight: bold;">GALERÍA DE IMÁGENES</h3>
                </div>
            </div>
            <h4 class="text-center text-lg-left" style="margin-top: 10px;">Capturando el momento</h4>


            <div class="row text-center text-lg-left">

                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/1560888778025.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190603_210137.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/1564425085750.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190605_142334.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190603_210153.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190603_210204.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190604_102857.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190618_080234.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190618_084454.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190618_171305.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190806_164525.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/galeria/IMG_20190809_072000.jpg" alt="">
                    </a>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <hr class="mt-2 mb-5">

    <!-- SECCIÓN EQUIPO -->
    <div id="equipo">
        <div class="text-center py-4">
            <div class="container">
                <h3 class="text-black" style="font-weight: bold;">CONOCE EL EQUIPO</h3>
            </div>
        </div>
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card border-0 shadow">
                        <img src="/images/silvia.jpg" class="card-img-top " alt="...">
                        <div class="card-body text-center">
                            <p class="card-title mb-0" style="font-size: small;">SILVIA UMPIÉRREZ</p>
                            <div class="card-text text-black-50" style="font-size: small;">Responsable Técnico - Científico</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card border-0 shadow">
                        <img src="/images/delma.jpg" class="card-img-top " alt="...">
                        <div class="card-body text-center">
                            <p class="card-title mb-0" style="font-size: small;">DELMA CABRERA</p>
                            <div class="card-text text-black-50" style="font-size: small;">Investigador</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-lg-3 col-md-4 col-6">
                    <div class=" card border-0 shadow ">
                        <img src="/images/paola.jpg " class="card-img-top " alt="... ">
                        <div class="card-body text-center ">
                            <p class="card-title mb-0" style="font-size: small;">PAOLA BRUCCOLERI</p>
                            <div class="card-text text-black-50 " style="font-size: small;">Técnico de apoyo</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card border-0 shadow ">
                        <img src="/images/kuki.jpg " class="card-img-top" alt="... ">
                        <div class="card-body text-center ">
                            <p class="card-title mb-0" style="font-size: small;">EUGENIA CABRERA</p>
                            <div class="card-text text-black-50 " style="font-size: small;">Técnico de apoyo</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <div class="card text-justify text-black mx-auto w-75 quienesSomos ">
            <div class="card-body ">
                <div class="card-header text-center border-light font-weight-light ">
                    <h5>Quienes somos</h5>
                </div>
                <div id="textoQuienesSomos" class="card-text " style="font-size: small; ">
                    <p>Breve currículo de las autoras</p>

                    <p>Paola Bruccoleri es Analista Programadora egresada de la UDELAR; ha realizado especializaciones y cursos relacionados con las tecnologías digitales y la educación. Es Docente Orientadora en Tecnologías y docente de Informática del
                        Instituto de Formación Docente de San José.</p>

                    <p>Silvia Umpiérrez es Licenciada en Biología por la UDELAR, Doctora en Educación por la ORT, tiene antecedentes en investigación en el área de educación y ha realizado publicaciones en revistas indexadas. Participó en la compilación
                        del libro,”Las tecnologías de la información, aprendizaje y comunicación en la enseñanza terciaria y la investigación educativa “(CFE, 2013). En 2016 participó del equipo técnico de la investigación ANII: “Educadores en la era
                        digital: aprender a enseñar con tecnologías en la formación inicial de profesores de educación media en Uruguay”. Es Directora del Instituto de Formación Docente de San José y docente efectiva en CFE.</p>

                    <p>Delma Cabrera es profesora de Biología, Magíster en Enseñanza de las Ciencias en Educación Media por CLAEH y en Educación, Sociedad y Política por FLACSO. Es referente local de la modalidad semipresencial de profesorado y docente en
                        el CFE y CES.</p>

                    <p>Eugenia Cabrera es estudiante de la carrera de tecnólogo en informática y sus tareas se enmarcan en la pasantía laboral obligatoria para obtener el título de Tecnólogo en Informática.</p>

                </div>
            </div>
        </div>
    </div>

    <hr class="mt-2 mb-5">

    <!-- SECCIÓN NOTICIAS -->
    <div id="seccionNoticias" class="container">
        <div class="text-center py-4">
            <div class="container">
                <h3 class="text-black" style="font-weight: bold;">ACTIVIDADES DEL PROYECTO</h3>
            </div>
        </div>
        <h4 class="text-center" style="margin-top: 30px; margin-bottom: 10px;color: grey;">NOTICIAS</h4>
        <div class="card-deck" style="margin-bottom: 40px;">
            <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                    <div class="card w-75">
                        <img class="card-img-top" src="<%= data[i].imagen %>" alt="...">
                        <div class="card-body mCustomScrollbar noticias">
                            <h6 class="card-title">
                                <%= data[i].titulo %>
                            </h6>
                            <p class="card-text" style="font-size: small">
                                <%= data[i].contenido %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">PUBLICADA EL <%= data[i].fechaPub.getDate() + "/" + (data[i].fechaPub.getMonth() +1) + "/" + data[i].fechaPub.getFullYear() %></small>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>


    </div>

    <hr class="mt-2 mb-5">

    <!-- SECCIÓN CONTACTO -->
    <div id="contacto">
        <div class="container p-3">
            <div class="row">
                <div class="col">
                    <div class="card animated flipInY " style="margin-top: 50px; margin-bottom: 20px;">
                        <div class="card-header bg-dark text-white text-center">
                            <h3>Contáctanos</h3>
                        </div>
                        <div class="card-body">

                            <form action="/contactAction" method="POST" enctype="text/plain">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Enviar mensaje" class='btn btn-dark btn-block'>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <footer>
        <div class="footer">
            <img src="/images/anep.jpg" class="rounded" alt="...">
            <img src="/images/D5F4.tmp.jpg" class="rounded" alt="...">
            <img src="/images/LOGO IFD chico.png" class="rounded" alt="...">
            <img src="/images/LOGOANII.png" class="rounded" alt="...">
            <img src="/images/logo utec.jpg" class="rounded" alt="..."> <br><br><br>

            <span>SÍGUENOS EN</span><br><br>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-youtube"></i><br><br><br><br>

            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>.

        </div>
        <%include partials/footer.ejs %>
    </footer>

</body>

</html>