<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <%include partials/head.ejs %>

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-xl navbar-light bg-white fixed-top ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/recursos">REPOSITORIO<span
                        class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:3000/#proyecto">PROYECTO</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:3000/#contacto">CONTACTO</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:3000/#equipo">QUIENES SOMOS</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:3000/#galeria">GALERÍA</a>
                    </li>
                </ul>

            </div>
            <a class="navbar-brand" href="#">
                <img src="http://localhost:3000//images/recreap-02.png" alt="">
            </a>

        </nav>

    </header>

    <div class="conoceElEquipo text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-black" style="font-size: 24px;">REPOSITORIO</h1>
        </div>
    </div>

    <div style="margin-left: 20px;">
        <h2>Protocolos de práctica reflexiva</h2>
        <h3>Práctica reflexiva</h3>
        <p>El concepto de práctica reflexiva es construido en base a los aportes de los siguientes referentes teóricos:</p>
        <p><a href="https://dialnet.unirioja.es/servlet/articulo?codigo=5765930" target="_blank">Los niveles de reflexión en los portafolios de la Práctica Pre Profesional Docente.</a> P. Lamas Pelayo, Jessica Vargas D’Uniam – Pontificia Universidad Católica
            del Perú (Perú)</p>
        <p><a href="https://semur.edu.uy/curem6/actas/pdf/44.pdf" target="_blank">El rol del video en el desarrollo profesional del docente de matematica en la escuela secundaria.</a> Abraham Arcavi. Actas del 6° Congreso Uruguayo de Educación Matemática
            (CUREM6)
        </p>
        <p><a href="https://dialnet.unirioja.es/servlet/articulo?codigo=6704374" target="_blank">Despertar la reflexión en la formación docente: dispositivos efectivos.</a> Rebeca Anijovich, Graciela Cappelletti</p>
        <p><a href="https://dialnet.unirioja.es/servlet/articulo?codigo=3288517" target="_blank" rel="noopener noreferrer">Desarrollar la competencia reflexiva en la educación superior. Diez propuestas para el aula universitaria.</a> Ángeles Domingo Roget</p>
        <p>Perrenoud, P (2007) Desarrollo de la práctica reflexiva en el oficio de enseñar. México: Graó/Colofón</p>
        <h3>Protocolos</h3>
        <p>Los protocolos, en el marco de este proyecto, están formados por un marco teórico y una propuesta de trabajo con la unidad fílmica seleccionada. En algunos casos, incluyen propuestas de abordaje previas al intercambio con los docentes de didáctica
            y los estudiantes y, en otros casos, actividades de proyección posteriores. Constituyen propuestas iniciales, que cada docente formador puede utilizar, modificar o no utilizar, de acuerdo a sus objetivos y las características del grupo dondelo
            desea aplicar.</p>
        <ul>
            <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/432" target="_blank" rel="noopener noreferrer">Trabajo grupal</a></li>
            <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/431" target="_blank" rel="noopener noreferrer">Toma decisiones</a></li>
            <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/428" target="_blank" rel="noopener noreferrer">Clase completa</a></li>
            <li>Salidas de campo y <a href="http://repositorio.cfe.edu.uy/handle/123456789/426" target="_blank" rel="noopener noreferrer">actividades prácticas</a></li>
            <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/430" target="_blank" rel="noopener noreferrer">Microclases</a></li>
            <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/427" target="_blank" rel="noopener noreferrer">Auto-observación</a></li>
            <li>Incidente crítico
                <ul>
                    <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/429" target="_blank" rel="noopener noreferrer">Protocolo 1</a></li>
                    <li><a href="https://drive.google.com/file/d/1BXixNY4fUyFT5cZHvRl9QqALuxxa4VQy/view" target="_blank" rel="noopener noreferrer">Protocolo 2</a></li>
                </ul>
            </li>
            <li>Uso de recursos
                <ul>
                    <li><a href="http://repositorio.cfe.edu.uy/handle/123456789/440" target="_blank" rel="noopener noreferrer">Uso del pizarrón</a></li>
                </ul>
            </li>
        </ul>
        <h3>Unidades fílmicas</h3>
        <p>Las unidades fílmicas están formadas por filmaciones de clases de educación media, tanto de secundaria como de enseñanza técnica. Tienen una duración de entre uno y 30 minutos. Se clasifican según criterios de abordaje didáctico, pero su utilización
            puede ser flexible, ya que en ocasiones pueden considerarse adecuadas para más de un tema. En el caso del tipo: clase completa, se presentan en dos archivos por las características de la grabación y el tamaño de los archivos. En la descripción
            que acompaña cada video, se encuentra la siguiente información: institución donde se desarrolla la clase, autoría, especialidad, nivel y curso, fecha y licencia. En todos los casos se utilizó una licencia creative commons: atribución, no comercial,compartir
            igual. Las unidades fílmicas cuya autoría es RECYREAP están filmadas con tecnología 360, lo que permite mover la imagen con el cursor de la computadora.</p>
        <ul>
            <li>Trabajo grupal
                <ul>
                    <li>N°1 - Geografía</li>
                </ul>
            </li>
            <li>Uso de recursos
                <ul>
                    <li>N°1 - Filosofía</li>
                    <li>N°2 - Biología</li>
                    <li>N°3 - Geografía</li>
                    <li>N°4 - Geografía</li>
                    <li>N°5 - Geografía</li>
                </ul>
            </li>
            <li>Toma de decisiones
                <ul>
                    <li>N°1 - Comunicación visual</li>
                </ul>
            </li>
            <li>Clase completa
                <ul>
                    <li>N°1 - Biología - Parte 1</li>
                    <li>N°1 - Biología - Parte 2</li>
                    <li>N°2 - Comunicación visual - Parte 1</li>
                    <li>N°2 - Comunicación visual - Parte 2</li>
                    <li>N°3 - Formación ciudadana - Parte 1</li>
                    <li>N°3 - Formación ciudadana - Parte 2</li>
                    <li>N°4 - Química - Parte 1</li>
                    <li>N°4 - Química - Parte 2</li>
                    <li>N°5 - Historia - Parte 1</li>
                    <li>N°5 - Historia - Parte 2</li>
                    <li>N°6 - Educación musical - Parte 1</li>
                    <li>N°6 - Educación musical - Parte 2</li>
                    <li>N°7 - Cuadernos de explotación familiar - Parte 1</li>
                    <li>N°7 - Cuadernos de explotación familiar - Parte 2</li>
                    <li>N°8 - Literatura - Parte 1</li>
                    <li>N°8 - Literatura - Parte 2</li>
                    <li>N°9 - Inglés - Parte 1</li>
                    <li>N°9 - Inglés - Parte 2</li>
                    <li>N°10 - Filosofía - Parte 1</li>
                    <li>N°10 - Filosofía - Parte 2</li>
                    <li>N°11 - Biología - Parte 1</li>
                    <li>N°11 - Biología - Parte 2</li>
                    <li>N°12 - Matemática</li>
                    <li>N°13 - Comunicación visual - Parte 1</li>
                    <li>N°13 - Comunicación visual - Parte 2</li>
                </ul>
            </li>
            <li>Salidas de campo y actividades prácticas
                <ul>
                    <li>N°1 - Biología</li>
                    <li>N°2 - Cuadernos de explotación familiar</li>
                    <li>N°3 - Comunicación visual</li>
                </ul>
            </li>
            <li>Microclases</li>
            <li>Auto-observación</li>
            <li>Incidente crítico
                <ul>
                    <li>N°1 - Comunicación visual</li>
                    <li>N°2 - Formación ciudadana</li>
                </ul>
            </li>
            <li>Otros</li>
        </ul>
    </div>


    <footer>
        <div class="footer">
            <img src="/images/anep.jpg" class="rounded" alt="...">
            <img src="/images/D5F4.tmp.jpg" class="rounded" alt="...">
            <img src="/images/LOGO IFD chico.png" class="rounded" alt="...">
            <img src="/images/LOGOANII.png" class="rounded" alt="...">
            <img src="/images/logo utec.jpg" class="rounded" alt="..."> <br><br><br>

            <span>SÍGUENOS EN</span><br><br>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-youtube"></i><br><br><br><br>

            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>.

        </div>
        <%include partials/footer.ejs %>
    </footer>

</body>

</html>